<!DOCTYPE html>
<html>

<head>

  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
 

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">



  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<footer id="footer">
  <div class="container">
    <h3>Bocados Callejeros</h3>
    <p>Gracias por unirte a nosotros en esta deliciosa aventura. Tu satisfacción es nuestra mayor recompensa. ¡Esperamos que disfrutes cada bocado y que encuentres un pedacito de calle en cada sabor!</p>
    <p>¡Bocados Callejeros, donde la calle se encuentra con tu paladar!</p>
    <div class="social-links">
      <a href="#" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
      <a href="https://web.facebook.com/profile.php?id=61554457072826" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/bocados_callejeros/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype" target="_blank"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin" target="_blank"></i></a>
    </div>
    
  </div>
</footer><!-- End Footer -->



<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

</html>
